@font-face {
    font-family: Cinzel;
    src: url(../assets/fonts/Cinzel-VariableFont_wght.ttf);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #002646;
    --color-secondary: #fff;
    --color-accent: #d8b66a;
    --color-inactive: #E9E9E9;
    --color-inactive-dark: #6E6E6E;

    --spacing-s: calc(var(--spacing-m) / 2);
    --spacing-m: 1.8rem;

    --border-radius-m: 16px;
    --border-radius-s: calc(var(--border-radius-m) / 2);


    --animation-duration: 0.3s;

    --font-size-xxl: 6rem;
    --font-size-xl: 4rem;
    --font-size-l: 2rem;
    --font-size-m: 1.5rem;
    --font-size-s: 1rem;

    transition-behavior: allow-discrete;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: var(--color-secondary);

    main {
        section {
            padding-inline: var(--spacing-s);
        }
    }
}

h1 {
    font-family: Cinzel, 'Times New Roman', Times, serif;
    font-size: var(--font-size-xl);
    line-height: 0.85;
    font-weight: 400;
    max-width: 30rem;


    @media (width > 900px) {
        font-size: var(--font-size-xxl);
        max-width: 50rem;
    }
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
    max-width: 25rem;
}

p {
    font-size: var(--font-size-s);
    line-height: 1.4;
    color: var(--color-secondary);

    &.bold {
        font-weight: bold;
    }
}


a {
    color: var(--color-secondary);
    display: flex;
    gap: 1rem;
    text-decoration: none;
    height: min-content;
    width: max-content;

    &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8l-7 7M12 8l7 7'/%3E%3C/svg%3E");
        width: 1.2em;
        height: 1.2em;
        background-size: 100% 100%;
        display: block;
        transform: rotate(90deg);
        transition: all var(--animation-duration);
    }

    &.tickets {
        padding: var(--spacing-s) var(--spacing-m);
        background-color: var(--color-primary);
        border-radius: var(--border-radius-s);
    }

    @media (any-pointer: fine) {
        &:hover {
            &::after {
                transform: translateX(var(--spacing-m)) rotate(90deg);
                transition: all var(--animation-duration);
            }
        }
    }
}
